body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #444;
  }
  h1, h2, strong {
    color: #222;
  }
  header {
    font-size: 25px;
    padding: 0px 0px 10px 0px;
  }
  body {
    padding: 20px 20px;
  }
  article {
    font-size: 16px;
    border-top: 2px solid gray;
  }
  li{
    margin: 5px 0;
  }
  a {
    color: #277e96;
  }

  a:visited{
    color: #295d6b;
  }

  a:hover{
    text-decoration: none;
  }

  .date_calc {
    padding: 5px 0px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    background-color: #ffead5;
    border: 1px solid;
    border-color: #b4d3db;
    width: 100%; /* Full-width */ 
    grid-area: date_calc;
    color: #444;
    margin: 15px auto;

  }

  #date_help{
    padding: 10px 10px;
    font-weight: bold;
    vertical-align: middle;
  } 
