body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #444;
  }


  h1, h2, strong {
    color: #222;
    margin:0px;
    padding:2px;
  }
  header {
    font-size: 25px;
    padding: 0px 0px 0px 0px;
  }
  article {
    font-size: 16px;
    border-top: 2px solid gray;
  }

  .nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    margin-block-start: 0em;
  }

  .nav-item{
    margin: 5px 0;
    display: inline;
    float:left;
    border-right: 1px solid #bbb;
  }
  
  .nav-item:last-child {
    border-right: none;
  }

  .nav-item a {
    display: block;
    color: #277e96;
    text-align: left;
    padding: 3px 16px;
    text-decoration: none;
  }

  .nav-item-active a{
    color: #444;
  }

  
  /* Change the link color on hover */
  .nav-item a:hover {
    background-color: #d2edf3;
    color: #444;
  }

  .nav-item-active a:hover{
    background-color:white;
  }
  a {
    color: #277e96;
  }

  a:visited{
    color: #295d6b;
  }

  a:hover{
    text-decoration: none;
  }

  img{
    width:80%;
    max-width:800px;
    border:3px solid #ddd;
}

 .subdescription-bordered {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin:0px;
  padding:6px 2px 6px 2px;
  font-style:italic;
  }

  .subdescription {
    margin:0px;
    padding:2px 2px 6px 2px;
    font-style:italic;
  }

  .subdescription-small {
    margin:0px;
    padding:2px 2px 6px 2px;
    font-size:10px;
  }

#dateInput, #restaurantSelect {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background-color: #d2edf3;
  border: 1px solid;
  border-color: #277e96;
  padding: 5px;
  color: #444;
  }

  button {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    background-color: #d2edf3;
    border: 1px solid;
    border-color: #277e96;
    border-radius: 6px;
    padding: 5px;
    color: #444;
  }

  button:hover {
    border: 3px solid;
    transition: 0.7s;
}

.button:active {
  background-color:#277e96;
  border-color: black;
  transition: 0.7s;
}

  .date_calc {
    padding: 5px 0px;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    background-color: #d2edf3;
    border: 1px solid;
    border-color: #277e96;
    grid-area: date_calc;
    color: #444;
    margin: 15px 6px;

  }

  #date_help{
    padding: 10px 10px;
    font-weight: bold;
    vertical-align: middle;
  } 



  .tabulator{
    background-color: white;
  }

  .tabulator .tabulator-header {
    background-color: white;
  }

  .tabulator-row .tabulator-responsive-collapse {
    border-right: 1px solid #aaa;
}


 .tabulator-row.tabulator-row-even{
    background-color: #d2edf3;
  }

.tabulator-header .tabulator-col{
  background: #b4d3db !important;
  background-color: #b4d3db !important;
}