body {
  font-family: "Lato", "Arial", sans-serif;
  color: #444;
  padding: 0px 0px;
}

h1,
h2 {
  color: #222;
  margin: 0px;
  padding: 2px 2px;
}

form{
  margin:6px;
  line-height:40px;
}

#calculator-result{
  color: #295d6b;
  margin: 6px;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  margin-block-start: 0em;
}

.nav-item {
  margin: 5px 0;
  display: inline;
  float: left;
  border-right: 1px solid #bbb;
}

.nav-item:last-child {
  border-right: none;
}

.nav-item a {
  display: block;
  color: #277e96;
  text-align: left;
  padding: 3px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.nav-item a:hover {
  background-color: #d2edf3;
  color: #444;
}

.nav-item-active a {
  color: #444;
}

.nav-item-active a:hover {
  background-color: white;
}

a {
  color: #277e96;
}

a:visited {
  color: #295d6b;
}

a:hover {
  text-decoration: none;
}

/* Add a new class for content images */
.content-image {
  width: 80%;
  max-width: 800px;
  border: 3px solid #ddd;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .content-image {
    width: 98%;
    max-width: 100%;
    border-width: 1.5px;
  }
}

hr{
  color: #295d6b;
}

.subdescription {
  margin: 0px;
  padding: 2px;
  font-size: 8;
}

.font-10px {
  font-size: 10px !important;
}

.calculator-selector {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 14px;
  background-color: #d2edf3;
  border: 1px solid;
  border-color: #277e96;
  padding: 5px;
  color: #232323;
}

button {
  border-radius: 6px;
}

button:hover {
  border: 3px solid;
  transition: 0.7s;
}

.button:active {
  background-color: #277e96;
  border-color: black;
  transition: 0.7s;
}

#restaurant-data{
  margin: 6px;
}


#disclaimer {
  text-align: center;
  font-size: 16px;
}

.tabulator {
  background-color: white;
}

.tabulator-header-filter input::placeholder {
  font-family: "Lato", "Arial", sans-serif;
}

.tabulator .tabulator-header {
  background-color: white;
  color: #232323;
}

.tabulator-row .tabulator-responsive-collapse {
  border-right: 1px solid #aaa;
}

.tabulator-row.tabulator-selectable:hover {
  background-color: #e9e8e8 !important;
}


.tabulator-row.tabulator-row-even {
  background-color: #d2edf3;
}

.tabulator-header .tabulator-col {
  background: #b4d3db !important;
  background-color: #b4d3db !important;
}

/* Add container for display ad */
.display-ad-container {
  margin-top: 0;
  padding: 0 16px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.display-ad {
  display: block;
  max-width: 1200px;
}

.ad-link {
  text-decoration: none;
  display: block;
  margin-bottom: 1rem;
}

.display-ad img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease-in-out;
}

.display-ad picture {
  display: block;
  transition: opacity 0.7s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}